
.taxonomy-sifter .form-radios .form-item label.option ,
.taxonomy-sifter .form-checkboxes .form-item label.option {
  float: left;
  width: 19%;
}

.taxonomy-sifter  .form-item .description {
  clear: both;
}

#-taxonomy-sifter-block-form #edit-reset {
  margin-left: 2em;
}

/*  Style for active button.  */
#-taxonomy-sifter-block-form input.active {
  background-color: #e8e8e8; /* */
  border-color: #0000ff; /* */
  border-width: 3px; /* */
  font-weight: normal; /* */
}

.taxonomy-sifter-term-button {
  font-size: 110%;
  font-weight: bold;
  /* background-color: #bbffcc; /* */
  /* If you are displaying the buttons in a sidebar, you might want to stack them by uncommenting teh next line. */
  /* display: block; /* */
}
